<h3>chrisbrickey / my_story</h3>
<h2>How I transitioned from strategy consultant to software developer</h2>
<p>--------------------------------------------------------------</p>
<br />
<br />
<br />
<br />
<br />
<br />
<p> Back to my <%= link_to "projects", welcome_projects_path %> </p>
<br />
<br />

<!-- <p>
 Back to <a href="/welcome/projects">my_projects</a>
</p> -->
