<h2>good at computers and strategy, likes to build cool stuff</h2>

<div class="cover_photo">
  <%= image_tag("stars_long_banner.jpg", width: '2000px') %>
<div>

<p> What's my <%= link_to "story", welcome_processes_path %>? </p>
<br />
<h2>Projects</h2>
<p>--------------------------------------------------------------</p>
<p>
  Links to projects coming soon. For now, check out my
  <%= link_to "github", "https://github.com/chrisbrickey" %> and
  <%= link_to "linkedin", "https://www.linkedin.com/in/chrisbrickey" %>.
</p>

<br />
<br />
<!-- <p>
 What's my <a href="/welcome/processes">story</a>?
</p> -->
